h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.Montserrat {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
}

.image {
    text-align: center;
    margin-top: 20px;
}